<div class="space-y-1">
    <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
        <heroicon-outline icon="HomeModern" class="text-gray-300 mr-3 flex-shrink-0 h-6 w-6" />
        Dashboard
    </a>
</div>
