<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <title>{{ title }}</title>

    <script defer src="https://kit.fontawesome.com/1ac284761b.js" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script defer src="https://unpkg.com/hyperscript.org@0.8.2"></script>
  </head>
  <body>

        {{ content | safe }}
  </body>
</html>